{{yield}}
<article class="listing">
 <br/>
  <div class="photo">
    <center> <br>
      <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" width="150">
      <h2> {{this.rental.title}} </h2>
      <p style ="color: grey font-size:100px ;" ><h5>{{this.rental.role}}</h5> </p>
    </center>
  </div>
  <div class="details">
      <table id="personal"> 
        <tr>  <th> First Name</th>
              <td>{{this.rental.title}}</td>
        </tr>
        <tr>
          <th> Last Name</th>
          <td> </td>
        </tr>          
        <tr>
          <th> Email</th>
          <td> {{this.rental.email}}</td>            
        </tr>
        <tr>
          <th> Mobile</th>
          <td>  </td>            
        </tr>
        <tr>
          <th> Password </th>
          <td>   </td>            
        </tr>           
        <tr>
          <th> City</th>
          <td>{{this.rental.city}}</td>            
        </tr> 
      </table>
  </div>
  </article>