{{#if model.saved}}
  <div class="alert alert-success">
    Model was successfully saved!
  </div>
{{/if}}

<ValidatedForm
  @model={{changeset @model this.UserValidations}}
  @on-submit={{perform this.submit}}
as |f|>

  <f.input
    @label="First name"
    @name="firstName"
    @required={{true}}
  />

  <f.input
    @label="Last name"
    @name="lastName"
    @required={{true}}
  />

  <f.input
    @type="textarea"
    @label="About me"
    @name="aboutMe"
    @hint="Write a short description about yourself"
  />

  <f.input
    @type="select"
    @label="Country"
    @name="country"
    @includeBlank="Select a country"
    @options={{this.countries}}
    @value={{@model.country}}
    @required={{true}}
  />

  <f.input
    @type="radioGroup"
    @label="Gender"
    @name="gender"
    @options={{this.genders}}
    @required={{true}}
  />

  <f.input
    @renderComponent={{component "favorite-colors-component" colors=this.colors}}
    @label="Favorite Color"
    @name="color"
    @required={{true}}
  />

  <f.input
    @type="checkbox"
    @label="I agree with the terms and conditions"
    @name="terms"
    @required={{true}}
  />

  <f.submit @label="Save" />
</ValidatedForm>